body {
    margin: 0;
    background-color: rgb(86, 86, 86);
}

.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#renderer {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 600;
    height: 480;
}